
@import url('https://fonts.googleapis.com/css2?family=Poppins');
body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
  /* background-color: #469fff; */
  padding: 0 2rem;
}

.navbar-nav {
  margin-left: auto;
}

/* .nav-link {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  cursor: pointer;
} */

/* .nav-link:hover {
  color: rgb(255, 53, 53);
  color: rgb(235, 255, 53);
} */


/* .handi-travel {
  font-family: 'Alegreya', serif;
  font-size: 2rem;
} */



