@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin-top: 50px;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    width: 100%;
  }
  